/*-----------------------------------------------------------------------------------------------------------------------------
 Ненужные классы (для примера)
------------------------------------------------------------------------------------------------------------------------------*/
.example-container {
	padding: 50px;
	margin-inline: auto;
	max-width: 1920px;
	@include md {
		padding: 20px;
	}
}

.example-row {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
    margin-bottom: 50px;
    
    &:last-child{
        margin-bottom: 0;
    }

	@include md {
        flex-wrap: wrap;
		gap: 20px;
        margin-bottom: 20px;
	}

	#creative-sber {
		// width: 33.33%;
		width: 100%;
		@include md {
			width: 100%;
		}
	}

	#creative-okko {
		// width: 33.33%;
		width: 100%;
		@include md {
			width: 100%;
		}
	}
	#creative-samolet {
		// width: 33.33%;
		width: 100%;
		@include md {
			width: 100%;
		}
	}
}

